 /*------------body----------*/

body {
    padding-top: 40px;
    background-color: transparent;
    background-image: url(../images/background12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;
}

.page-scroll {
    font-family: 'Rubik' sans-serif;
}

.img-rounded{
    
    border-style:solid;
    border-color:black;
    border-width:2px;
}


/*------------navbar and footer----------*/

.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    background-color: #000000;
    border-color: #000000;
    font-size: large;
    font-style: italic;
}

.container-nav{
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.navbar-brand{
    background-image:url(../images/logo.jpg);
    width:100px;
    height:50px;
    background-position: center;
}

.social li{
    display: inline;
}
    
.social{
    text-align: center;
}

.social a{
    padding: 0.5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}


.row foot{
    background-color: black;
    text-align: center;
    font-family: 'Rubik' sans-serif;
    font-size: 15px;
    color: white;
}

/*------------Glyphs----------*/

.listen i {
    display: block;
    color: black;
    font-size: 35px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    margin-bottom: -2em;
    margin-top: 1em;
}
.follow i {
    display: block;
    color: black;
    font-size: 35px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    margin-bottom: 2em;
   }

.watch a i {
    display: block;
    color: black;
    font-size: 35px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    margin-bottom: .2em;
    margin-top: 1em;
}
.social b {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
   }

/*------------texts----------*/

.caption {
    margin-bottom: 2em;
    margin-top:1em;
    max-width: 100%;
    display: block;
    height: auto;
    text-align: justify;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubik' sans-serif;
}

.caption2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Rubik' sans-serif;
    text-align: justify;
    margin-bottom: 0.5em;
    color: black;
}

.thumbnail  {
    background-color: transparent;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Rubik' sans-serif;
    text-align: center;
    border-color: transparent;
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
    color:black;
    margin-bottom: -2em;
}

.thumbnail-2 {
    background-color: transparent;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    font-family: 'Rubik' sans-serif;
    text-align: center;
    margin-bottom: 1em;
    border-color: transparent;
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}

.words {
    text-align: justify;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 2em;
    margin-top: 2em
}

.words2 {
    text-align: center;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.words3 {
    text-align: justify;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 1em;
 }
 
.knebworth-text {
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.wembley-text {
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.earls-court-text {
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}


/*------------jumbotrons----------*/

.jumbotron-band {
    display: block;
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/band members1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 920px;
    color: white;
    margin-bottom: 2em;
    max-width: 100%;
}

.jumbotron-heading {
    display: block;
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/band members.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
    margin-bottom: 0.5em;
    height: 920px;
    background-color: transparent;
    width: 100%;
 }

.jumbotron-videos {
    display: block;
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/live cover.jpg");
    height: 920px;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1em;
    margin-bottom: 1em;
    background-position: top;
    background-repeat: no-repeat;
     max-width: 100%;
}

.jumbotron-music {
    display: block;
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/familiar to millions.jpg");
    height: 920px;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0.25em;
    margin-bottom: 0.3;
    background-repeat: no-repeat;
     max-width: 100%;
}

.jumbotron-shows {
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/LEC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 920px;
    color: white;
     max-width: 100%;
     margin-top: 1em;
     margin-bottom: 1em;
}

.jumbotron-follow {
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 85px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 920px;
    color: white;
    margin-top: .5em;
    margin-bottom: 1em;
     max-width: 100%;
}


/*------------band table----------*/

#band {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 2em;
    margin-top: 5em;
    table-layout: fixed;
    
}

#band td{

    border: 1px transparent;
    padding: 15px;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#band tr: {
    background-color: transparent;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#band th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Rubik' sans-serif;
    font-size: 22px;
    font-weight: bolder;
    font-style: italic;
}

#band {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
   
    table-layout: fixed;
}

#gigs {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    padding-bottom: 50px;
    margin-top: 2em;
    margin-bottom: 6em;
 }

/*------------gigs table----------*/

#gigs td,
#gigs th {
    border: 1px transparent;
    padding: 5px;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#gigs tr: {
    background-color: transparent;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#gigs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Rubik' sans-serif;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}

/*------------contact form----------*/

.form-group{
    margin-left: 15%;
    margin-right: 15%;
    width:75%;
  
}

#contact {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 42px;
    text-align: center;
    margin-bottom: 30px;
    width:75%;
}

.contact-form {
    position: relative;
    top: 6%;
}

#contact-head {
    text-align: center;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 65px;
    margin-bottom: 1em;
}



.form-control{
    border-style:solid;
    border-color:black;
    border-width:1px;
    text-align: left;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 15px;
    margin-bottom: 0.5em;
    margin-top:0.5em;
     background-color: white;
     margin-left: auto;
     margin-right: auto;
}

.submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.btn-default{
    font-weight:bold;
    border-style:solid;
    border-color:black;
    border-width:1px;
    text-align: center;
    color: white;
    font-family: 'Rubik' sans-serif;
    font-size: 15px;
    background-color:black;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    width:75%;
    

}


    



