.navbar-inverse {
    background-color: #000;
    border-color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

  .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
  }

body {
  padding-top: 70px;
}
.navbar.navbar-inverse {
  border: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
.navbar .navbar-brand img {
  height: 50px;
}



 

  


