 /*------------body----------*/

body {
    padding-top: 40px;
    background-color: white;
    background-image: url("/assets/images/background12.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: block;
}

.page-scroll {
    font-family: 'Rubik' sans-serif;
}


/*------------navbar----------*/

.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    background-color: #000000;
    border-color: #000000;
    font-size: large;
    font-style: italic;
}

.navbar-fixed-bottom {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    background-color: #000000;
    border-color: #000000;
    font-size: large;
    font-style: italic;
    text-align: right;
}

.navbar .navbar-brand {
    padding-top: 0px;
}

.navbar .navbar-brand img {
    height: 50px;
    display: block;
}


/*------------Glyphs----------*/

.listen i {
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.follow i {
    text-align:right;
    color: black;
    font-size: 25px;
    font-weight: bold;
}



.watch a i {
    display: block;
    color: black;
    font-size: 35px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    margin-bottom: .2em;
    margin-top: 1em;
}


/*------------discography----------*/

.caption h2 {
    margin-bottom: 0.6em;
    max-width: 100%;
    display: block;
    height: auto;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.caption2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Rubik' sans-serif;
    text-align: justify;
    margin-bottom: 0.5em;
    color: black;
}

.thumbnail {
    background-color: transparent;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Rubik' sans-serif;
    text-align: center;
    margin-bottom: 0.5em;
    border-color: transparent;
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}

.thumbnail-2 {
    background-color: transparent;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
    font-family: 'Rubik' sans-serif;
    text-align: center;
    margin-bottom: 1em;
    border-color: transparent;
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
}
.album {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    max-width: 100%;
    height: auto;
}

.words5{
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    display: inline-block;
  }

.videos {
    text-align: center;
    color: #000000;
    font-family: 'Rubik' sans-serif;
    font-weight: normal;
    font-weight: bold;
    font-style: italic;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

.words {
    text-align: justify;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 27px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 1em;
    margin-top: 1.5em
}

.words2 {
    text-align: justify;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 27px;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 1em;
    margin-top: 1.5em
}

.words3 {
    text-align: center;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 27px;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 1em;
    margin-top: 1.5em
}

.words4 {
    text-align: center;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: normal;
    font-weight: bold;
    font-style: italic;
    font-size: 27px;
    margin-top: 2em
}


.row-word i {
    color: black;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
}

.video-row {
    text-align: center;
    color: #000000;
    font-family: 'Rubik' sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-top: 50px;
    font-size: 35px;
}

.band-members {
    max-width: 100%;
    height: auto;
    display: block;
}

.container-stage {
    max-width: 100%;
    height: auto;
    display: block;
}


/*------------jumbotrons----------*/

.jumbotron-band {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/band members1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 900px;
    color: white;
    margin-bottom: 2em;
}

.jumbotron-heading {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/band members.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
    margin-bottom: 0.5em;
    height: 840px;
}

.jumbotron-videos {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/live cover.jpg");
    height: 900px;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1em;
    margin-bottom: 1em;
    background-position: top;
    background-repeat: no-repeat;
}

.jumbotron-music {
    display: block;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/familiar to millions.jpg");
    height: 925px;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0.25em;
    margin-bottom: 0.3;
    background-repeat: no-repeat;
}

.jumbotron-shows {
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    font-style: italic;
    background-image: url("/assets/images/LEC.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 900px;
    color: white;
    margin-top: 2em;
}


/*------------gig text----------*/

.knebworth-text {
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.wembley-text {
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

.earls-court-text {
    display: block;
    margin: 0px auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}

#band {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 2em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

#band td,
#band th {
    border: 1px transparent;
    padding: 15px;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#band tr: {
    background-color: transparent;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#band th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Rubik' sans-serif;
    font-size: 22px;
    font-weight: bolder;
    font-style: italic;
}

#band {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

#gigs {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    padding-bottom: 50px;
 }

#gigs td,
#gigs th {
    border: 1px transparent;
    padding: 15px;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#gigs tr: {
    background-color: transparent;
    color: black;
    font-family: 'Rubik' sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#gigs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Rubik' sans-serif;
    font-size: 22px;
    font-weight: bolder;
    font-style: italic;
}

#gigs {
    font-family: 'Rubik' sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}



